.view {
  .view-header {
    border-bottom: 1px solid lightgray;
    
    h4 {
      display: inline-block;
    }
  }

  .table{
    .btn{
      border: none;
      visibility: hidden;
    }

    .table-active{
      .btn{
        visibility: visible;
      }      
    }
    
    tr:hover{
      .btn{
        visibility: visible;
      }      
    }
  }  

  .view-header{
    .btn{
      border-color: lightgray;
      border-radius: 0.2rem;
    }
  }

  .search-container {
    .btn{
      border-color: lightgray;
      max-width: 220px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
