.form-container {
  .form-header {
    border-bottom: 1px solid lightgray;

    h4 {
      display: inline-block;
    }

    .btn{
      border-color: lightgray;
      border-radius: 0.2rem;
    }
  }

  .btn-container {
    .btn{
      border-color: lightgray;
      max-width: 220px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
